@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
a{
    color: #f66d52; /* Цвет ссылки */
    text-decoration: none;
    -webkit-transition: all 1s ease;
            transition: all 1s ease; /* Время изменения цвета */
}
p#special{
    color: red;
}
 a:hover{
    color: #ffa000; /* Меняем цвет ссылки */
  }
.firsttake{
background-color: #ffa000;
}
li#special{
    background-color: #ffa000; 
    text-decoration-style: double;
}
.cit{
    border-color: #29dd74;
    background-color: #0a9df8;
    border-width: thick; /*ТОЛЩИНА  */
    border-radius: 30px;
    margin-top: 0.5%; /*ВНЕШНИЙ ОТСТУП СВЕРХУ */
    font-size: 20px;
    text-align: center; /* ГОРИЗОНТАЛЬНОЕ ВЫРАВНИВАНИЕ: ЦЕНТРИРОВАНИЕ  */
    color: #000000; /* ЦВЕТ ТЕКСТА  */
    line-height: 1.5;
}
b#berlioz{
    background-color: yellow;
}
.second{
    border-color: #29dd74;
    background-color: #85f80a;
    border-radius: 10px;
    margin-top: 0.5%; /*ВНЕШНИЙ ОТСТУП СВЕРХУ */
    font-size: 10px;
    text-align: center; /* ГОРИЗОНТАЛЬНОЕ ВЫРАВНИВАНИЕ: ЦЕНТРИРОВАНИЕ  */
    color: #000000; /* ЦВЕТ ТЕКСТА  */
    line-height: 2.0;
}
.stroke{
    color: #670d14;
    text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, 
                 #cad5e2 3px 3px 0, #cad5e2 4px 4px 0, 
                 #cad5e2 5px 5px 0;
}
.third_par{
    font-family: 'Oswald', sans-serif;
}