a{
    color: #f66d52; /* Цвет ссылки */
    text-decoration: none;
    -webkit-transition: all 1s ease;
            transition: all 1s ease; /* Время изменения цвета */
}
p#special{
    color: red;
}
 a:hover{
    color: #ffa000; /* Меняем цвет ссылки */
  }
.firsttake{
background-color: #ffa000;
}
.cit{
    border-color: #29dd74;
    background-color: #0a9df8;
    border-width: thick; /*ТОЛЩИНА  */
    border-radius: 30px;
    margin-top: 0.5%; /*ВНЕШНИЙ ОТСТУП СВЕРХУ */
    font-size: 20px;
    text-align: center; /* ГОРИЗОНТАЛЬНОЕ ВЫРАВНИВАНИЕ: ЦЕНТРИРОВАНИЕ  */
    color: #000000; /* ЦВЕТ ТЕКСТА  */
    line-height: 1.5;
}
b#berlioz{
    background-color: yellow;
}
.second{
    border-color: #29dd74;
    background-color: #85f80a;
    border-radius: 10px;
    margin-top: 0.5%; /*ВНЕШНИЙ ОТСТУП СВЕРХУ */
    font-size: 10px;
    text-align: center; /* ГОРИЗОНТАЛЬНОЕ ВЫРАВНИВАНИЕ: ЦЕНТРИРОВАНИЕ  */
    color: #000000; /* ЦВЕТ ТЕКСТА  */
    line-height: 2.0;
}

